dist
node_modules
trash
bower83
frontend-pages
proxy.js
corepack
corepack.cmd
dist.bat
disteparboth.bat
disteparin.bat
disteparout.bat
install_tools.bat
node.exe
nodevars.bat
npm
npm.cmd
npm.ps1
npx
npx.cmd
npx.ps1
package.json
package-lock.json
/frontend-pagesBackup/
/distBackup/