<div ng-controller="TriggerController" ng-init="init(relay, 'light1LowTimer')">
    <fieldset class="form-group sentinel-line" ng-disabled="!t.active">
        <!--Turn on when time is from xx:xx to xx.xx and LightOutdoor amount is below xx. -->
        Turn on when time is from
        <div class="form-group" bs-has-error>
            <input type="text" name="light1LowTimer_Since" class="form-control" ng-model="t.since"  ng-pattern="/^((([0-1][0-9]):([0-5][0-9])|([2][0-3]):([0-5][0-9])|(24:00)))$/"/>
	    <span ng-show="form.light1LowTimer_Since.$invalid && showInvalids" class="formError">Incorrect value</span>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.light1LowTimer_Since.$valid">
                    Invalid! Must be in hh:mm format from 00:00 to 24:00.
                <br>Correct: "02:23" or "23:00" or "23:23" . Incorrect: "23" or "02:3" or "2300" .
        </span>
        to
        <div class="form-group" bs-has-error>
            <input type="text" name="light1LowTimer_Until" class="form-control" ng-model="t.until" ng-pattern="/^((([0-1][0-9]):([0-5][0-9])|([2][0-3]):([0-5][0-9])|(24:00)))$/"/>
	    <span ng-show="form.light1LowTimer_Until.$invalid && showInvalids" class="formError">Incorrect value</span>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.light1LowTimer_Until.$valid">
                    Invalid! Must be in hh:mm format from 00:00 to 24:00.
                <br>Correct: "02:23" or "23:00" or "23:23" . Incorrect: "23" or "02:3" or "2300" .
        </span>
        …<br>
        …and <b>Outdoor light</b> is below
        <div class="form-group" bs-has-error>
            <input type="text" name="light1LowTimer_OnVal" class="form-control" ng-model="t.on.val" ng-pattern="/^\d{1,2}(\.\d)?$/"/>
	    <span ng-show="form.light1LowTimer_OnVal.$invalid && showInvalids" class="formError">Incorrect value</span>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.light1LowTimer_OnVal.$valid">
                    Invalid! Must be number with max two digits, optional decimal point(not comma), then max one decimal.
                <br>Correct: "3" or "23" or "23.2" . Incorrect: "232" or "23,2" or "23.25" .
            </span>
        then keep it open till
        <div class="form-group" bs-has-error>
            <input type="text" name="light1LowTimer_OffVal" class="form-control" ng-model="t.off.val" ng-pattern="/^\d{1,2}(\.\d)?$/"/>
	    <span ng-show="form.light1LowTimer_OffVal.$invalid && showInvalids" class="formError">Incorrect value</span>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.light1LowTimer_OffVal.$valid">
                    Invalid! Must be number with max two digits, optional decimal point(not comma), then max one decimal.
                <br>Correct: "3" or "23" or "23.2" . Incorrect: "232" or "23,2" or "23.25" .
            </span>
        is reached.

        <span ng-include="'partials/triggers/toggleButton.html'"></span>
    </fieldset>
</div>

<div ng-controller="TriggerController" ng-init="init(relay, 'temp3HighDisallow')">
    <fieldset class="form-group sentinel-line" ng-disabled="!t.active">
        Never turn on when <b>Bulb temperature</b> is over
        <div class="form-group" bs-has-error>
            <input type="text" name="temp3HighDisallow_OffVal" class="form-control" ng-model="t.off.val" ng-pattern="/^\d{1,2}(\.\d)?$/"/> °C
	    <span ng-show="form.temp3HighDisallow_OffVal.$invalid && showInvalids" class="formError">Incorrect value</span>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.temp3HighDisallow_OffVal.$valid">
                    Invalid! Must be number with max two digits, optional decimal point(not comma), then max one decimal.
                <br>Correct: "3" or "23" or "23.2" . Incorrect: "232" or "23,2" or "23.25" .
            </span>

        <span ng-include="'partials/triggers/toggleButton.html'"></span>
    </fieldset>
</div>
