<div ng-controller="TriggerController" ng-init="init(relay, 'light1LowNoStopTimer')">
    <fieldset class="form-group sentinel-line" ng-disabled="!t.active">
        <!--Turn on when time is from xx:xx to xx.xx and LightOutdoor amount is below xx. -->
        Turn on when time is from
        <div class="form-group" bs-has-error>
            <input type="text" class="form-control" ng-model="t.since"  ng-pattern="/^\d{1,2}:\d{2}$/"/>
        </div>
        to
        <div class="form-group" bs-has-error>
            <input type="text" class="form-control" ng-model="t.until" ng-pattern="/^\d{1,2}:\d{2}$/"/>
        </div>
        and <b>Outdoor light</b> is below
        <div class="form-group" bs-has-error>
            <input type="text" class="form-control" ng-model="t.on.val" />&nbsp;%
        </div>

        <span ng-include="'partials/triggers/toggleButton.html'"></span>
    </fieldset>
</div>

<div ng-controller="TriggerController" ng-init="init(relay, 'temp1HighDisallow')">
    <fieldset class="form-group sentinel-line" ng-disabled="!t.active">
        Never turn on when <b>Air temperature</b> is over
        <div class="form-group" bs-has-error>
            <input type="text" class="form-control" ng-model="t.off.val" ng-pattern="/^\d+(.\d)?$/"/> °C
        </div>

        <span ng-include="'partials/triggers/toggleButton.html'"></span>
    </fieldset>
</div>