<div ng-include="'partials/loadingProgress.html'"></div>

<form novalidate class="form-inline triggers-form alerts" ng-class="{saving: saving}" ng-hide="loading" name="form" ng-submit="saveAlerts()">

    <div ng-controller="AlertController" ng-init="init('temp1High')">
        <div class="row">
            <fieldset class="form-group" ng-disabled="!alert.active">
                When <b>Air Temperature</b> is over
                <div class="form-group" bs-has-error>
                    <input type="text" class="form-control" ng-model="alert.trigger.on.val" ng-pattern="/^\d+(.\d)?$/"/> °C
                </div>
                send notification to
                <div class="form-group" bs-has-error>
                    <input type="text" class="form-control alert-target" ng-model="alert.target"/>
                </div>

                <span ng-include="'partials/alerts/toggleButton.html'"></span>
            </fieldset>
        </div>
    </div>

    <div ng-controller="AlertController" ng-init="init('temp2High')">
        <div class="row">
            <fieldset class="form-group" ng-disabled="!alert.active">
                When <b>Water Temperature</b> is over
                <div class="form-group" bs-has-error>
                    <input type="text" class="form-control" ng-model="alert.trigger.on.val" ng-pattern="/^\d+(.\d)?$/"/> °C
                </div>
                send notification to
                <div class="form-group" bs-has-error>
                    <input type="text" class="form-control alert-target" ng-model="alert.target">
                </div>

                <span ng-include="'partials/alerts/toggleButton.html'"></span>
            </fieldset>
        </div>
    </div>



    <div ng-controller="AlertController" ng-init="init('usndHigh')">
        <div class="row">
            <fieldset class="form-group" ng-disabled="!alert.active">
                When sensor distance from <b>Water Level</b> is more than
                <div class="form-group" bs-has-error>
                    <input type="text" class="form-control" ng-model="alert.trigger.on.val" ng-pattern="/^\d+(.\d)?$/"/> cm
                </div>
                send notification to
                <div class="form-group" bs-has-error>
                    <input type="text" class="form-control alert-target" ng-model="alert.target">
                </div>

                <span ng-include="'partials/alerts/toggleButton.html'"></span>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-9 form-group">
            <button type="submit" class="btn btn-primary" ng-hide="saving">Save</button>
            <button type="button" class="btn btn-disabled" ng-hide="!saving">Saving...</button>
            <span class="text-success" ng-show="saveSuccess" >Successfully saved.</span>
        </div>
    </div>

</form>