<div ng-include="'partials/loadingProgress.html'"></div>

<form novalidate class="form-horizontal" ng-class="{saving: saving}" ng-hide="loading" name="form" ng-submit="save()">
<!--form novalidate class="form-horizontal" ng-class="{loading: loading}" name="form" ng-submit="save()"-->
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">EC 1.278 @20&#176C</label>
        <div class="col-sm-10 calibration-control">
            <input name="ec_low_ion" type="text" ng-model="config.ec_low_ion" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary" ng-show="!calibrating && !saving" ng-click="getRawData('ec_low_ion', 'EC')">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="(calibrating && !calibratingArray['ec_low_ion']) || saving">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="calibratingArray['ec_low_ion']">Getting raw data...</button>
        <span style="color:#B40404" class="help-block" ng-show="form.ec_low_ion.$valid && needsSavingArray['ec_low_ion']">
          Save settings to set calibration values active!
        </span>
        <span style="color:#B40404" class="help-block" ng-show="!form.ec_low_ion.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
        <span style="color:#B40404" class="help-block" ng-show="lastCalibrationFailedArray['ec_low_ion']">
         Last calibration attempt of this field failed!
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">EC 4.523 @20&#176C</label>
        <div class="col-sm-10 calibration-control">
            <input name="ec_high_ion" type="text" ng-model="config.ec_high_ion" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary" ng-show="!calibrating && !saving" ng-click="getRawData('ec_high_ion', 'EC')">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="(calibrating && !calibratingArray['ec_high_ion']) || saving">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="calibratingArray['ec_high_ion']">Getting raw data...</button>
        <span style="color:#B40404" class="help-block" ng-show="form.ec_high_ion.$valid && needsSavingArray['ec_high_ion']">
          Save settings to set calibration values active!
        </span>
        <span style="color:#B40404" class="help-block" ng-show="!form.ec_high_ion.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
        <span style="color:#B40404" class="help-block" ng-show="lastCalibrationFailedArray['ec_high_ion']">
         Last calibration attempt of this field failed!
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">EC Offset</label>
        <div class="col-sm-10 calibration-control">
            <input name="ec_offset" type="text" ng-model="config.ec_offset" ng-pattern="/^-?((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])|0))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ec_offset.$valid">
         Positive or negative number or zero allowed, no decimals, max 3 digits.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">pH 4.00 @20&#176C</label>
        <div class="col-sm-10 calibration-control">
            <input name="ph_4" type="text" ng-model="config.ph_4" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary" ng-show="!calibrating && !saving" ng-click="getRawData('ph_4', 'pH')">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="(calibrating && !calibratingArray['ph_4']) || saving">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="calibratingArray['ph_4']">Getting raw data...</button>
        <span style="color:#B40404" class="help-block" ng-show="form.ph_4.$valid && needsSavingArray['ph_4']">
          Save settings to set calibration values active!
        </span>
        <span style="color:#B40404" class="help-block" ng-show="!form.ph_4.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
        <span style="color:#B40404" class="help-block" ng-show="lastCalibrationFailedArray['ph_4']">
         Last calibration attempt of this field failed!
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">pH 7.03 @20&#176C</label>
        <div class="col-sm-10 calibration-control">
            <input name="ph_7" type="text" ng-model="config.ph_7" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary" ng-show="!calibrating && !saving" ng-click="getRawData('ph_7', 'pH')">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="(calibrating && !calibratingArray['ph_7']) || saving">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="calibratingArray['ph_7']">Getting raw data...</button>
        <span style="color:#B40404" class="help-block" ng-show="form.ph_7.$valid && needsSavingArray['ph_7']">
          Save settings to set calibration values active!
        </span>
        <span style="color:#B40404" class="help-block" ng-show="!form.ph_7.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
        <span style="color:#B40404" class="help-block" ng-show="lastCalibrationFailedArray['ph_7']">
         Last calibration attempt of this field failed!
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">CO2 PPM 400</label>
        <div class="col-sm-10 calibration-control">
            <input name="co2_400" type="text" ng-model="config.co2_400" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary" ng-show="!calibrating && !saving" ng-click="getRawData('co2_400', 'CO2')">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="(calibrating && !calibratingArray['co2_400']) || saving">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="calibratingArray['co2_400']">Getting raw data...</button>
        <span style="color:#B40404" class="help-block" ng-show="form.co2_400.$valid && needsSavingArray['co2_400']">
          Save settings to set calibration values active!
        </span>
        <span style="color:#B40404" class="help-block" ng-show="!form.co2_400.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
        <span style="color:#B40404" class="help-block" ng-show="lastCalibrationFailedArray['co2_400']">
         Last calibration attempt of this field failed!
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">CO2 PPM 40k</label>
        <div class="col-sm-10 calibration-control">
            <input name="CO2_40k" type="text" ng-model="config.co2_40k" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary" ng-show="!calibrating && !saving" ng-click="getRawData('co2_40k', 'CO2')">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="(calibrating && !calibratingArray['co2_40k']) || saving">Get raw data</button>
        <button type="button" class="btn btn-disabled" ng-show="calibratingArray['co2_40k']">Getting raw data...</button>
        <span style="color:#B40404" class="help-block" ng-show="form.CO2_40k.$valid && needsSavingArray['co2_40k']">
          Save settings to set calibration values active!
        </span>
        <span style="color:#B40404" class="help-block" ng-show="!form.CO2_40k.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
        <span style="color:#B40404" class="help-block" ng-show="lastCalibrationFailedArray['co2_40k']">
         Last calibration attempt of this field failed!
        </span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-show="!saving && !calibrating">Save</button>
            <button type="button" class="btn btn-disabled" ng-show="calibrating">Save</button>
            <button type="button" class="btn btn-disabled" ng-show="saving">Saving...</button>
            <span class="text-success" ng-show="saveSuccess" >Successfully saved.</span>
        </div>
    </div>
</form>
