<fieldset class="form-group sentinel-line" ng-disabled="!fanCritical.active">
    Never turn on <b>fan</b> when temperature is below
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="fanCritical.temperature" ng-pattern="/^\d+(.\d)?$/"/> °C
    </div>
    <a ng-click="toggleSentinel(fanCritical)">
        <span class="glyphicon" ng-class="{'glyphicon-ban-circle': fanCritical.active, 'glyphicon-ok-circle': !fanCritical.active}"></span>
    </a>
</fieldset>
<fieldset class="form-group sentinel-line" ng-disabled="!temperatureOptimal.active">
    Keep <b>Temperature</b> between
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="temperatureOptimal.from" ng-pattern="/^\d+(.\d)?$/" />&nbsp;°C
    </div>
    and
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="temperatureOptimal.to" />&nbsp;°C
    </div>
    <a ng-click="toggleSentinel(temperatureOptimal)">
        <span class="glyphicon" ng-class="{'glyphicon-ban-circle': temperatureOptimal.active, 'glyphicon-ok-circle': !temperatureOptimal.active}"></span>
    </a>
</fieldset>
<fieldset class="form-group sentinel-line" ng-disabled="!humidityOptimal.active">
    Keep <b>Humidity</b> between
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="humidityOptimal.from" ng-pattern="/^\d+(.\d)?$/"/>&nbsp;%
    </div>
    and
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="humidityOptimal.to" ng-pattern="/^\d+(.\d)?$/"/>&nbsp;%
    </div>
    <a ng-click="toggleSentinel(humidityOptimal)">
        <span class="glyphicon", ng-class="{'glyphicon-ban-circle': humidityOptimal.active, 'glyphicon-ok-circle': !humidityOptimal.active}"></span>
    </a>
</fieldset>

<fieldset class="form-group sentinel-line" ng-disabled="!fanInterval.active">
    Enable <b>fan</b> every
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="fanInterval.after" ng-pattern="/^\d+$/"/> minutes
    </div>
    of inactivity for
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="fanInterval.duration" ng-pattern="/^\d+$/"/> minutes.
    </div>

    <a ng-click="toggleSentinel(fanInterval)">
        <span class="glyphicon" ng-class="{'glyphicon-ban-circle': fanInterval.active, 'glyphicon-ok-circle': !fanInterval.active}"></span>
    </a>
</fieldset>


