<html>
<head>
    <style>
        a{text-decoration:none}
    </style>
    <meta http-equiv="Content-Language" content="en-us">
    <title>Growroom WebCam</title>
</head>
<body bgcolor="#000000" vlink="#FFFFFF" alink="#FFFFFF">
<p text-align="center"><b><font color="#61B958" face="Arial">
    <br>
    <h1>Enjoy a nice view :-)</h1>
    <br>
    <img src="../webcam" width="100%" height="auto" style="max-width: 640px;" />
</p>
</body>


<!--
<html>
<head>
    <title>Growroom WebCam</title>
</head>

<body>
<video data-title="Live stream">
    <source type="application/x-mpegurl"
            src="../webcam">
</video>
</body>
-->
