<html>
<head>
    <style>
        a{text-decoration:none}
    </style>
    <meta http-equiv="Content-Language" content="en-us">
    <title>Growroom WebCam</title>
</head>
<body bgcolor="#000000" vlink="#FFFFFF" alink="#FFFFFF">
<p align="center"><b><font color="#FFFFFF" face="Arial">
    <br>
    <br>
    <font size="1">Enjoy a nice view :-)</font><br>
    </font> </font></b>
    <IFRAME src="../webcam" align="center" width="640" height="480" scrolling="no" frameborder=no marginheight="0px"</IFRAME>
    </td>
    </tr>
</p>
</body>


<!--
<html>
<head>
    <title>Growroom WebCam</title>
</head>

<body>
<video data-title="Live stream">
    <source type="application/x-mpegurl"
            src="../webcam">
</video>
</body>
-->
