<a href="" id="a" ng-hide="true"></a>
<div ng-include="'partials/loadingProgress.html'"></div>

<div ng-hide="loading" class="maintenance-form">
<form name="form1" ng-submit="saveClientJSO()">
  <div ng-controller="MaintenanceController" ng-init="initSaveClientJSO()" class="form-group">
    <h2>Backup settings</h2>
    <button type="submit" class="btn btn-primary">Save settings to disk</button>
  </div>
</form>

<form name="form3" ng-submit="loadConfig()">
  <button class="btn btn-primary">Upload settings from disk</button>
  <input type="file" ng-model="formData.file" id="settingsFileSelector" ng-hide="true" onchange="angular.element(this).scope().loadClientJSO(this)"/>
</form>

<form name="form6" ng-submit="saveCalibJSO()">
  <div ng-controller="MaintenanceController" ng-init="initSaveCalibJSO()" class="form-group">
    <h2>Backup calibration</h2>
    <button type="submit" class="btn btn-primary">Save calibration to disk</button>
  </div>
</form>

<form name="form7" ng-submit="loadCalib()">
  <button class="btn btn-primary">Upload calibration from disk</button>
  <input type="file" ng-model="formData.file" id="calibrationFileSelector" ng-hide="true" onchange="angular.element(this).scope().loadCalibJSO(this)"/>
</form>

<form name="form2" ng-submit="backupTriggers()">
  <div ng-controller="MaintenanceController" ng-init="initBackupTriggers()" class="form-group">
    <h2>Backup Outputs&Alerts</h2>
    <button type="submit" class="btn btn-primary">Save Outputs&Alerts</button>
  </div>
</form>

<form name="form4" ng-submit="loadAlertsTriggers()">
  <button class="btn btn-primary">Upload Outputs&Alerts</button>
  <input type="file" ng-model="formData.file" id="outputsAlertsFileSelector" ng-hide="true" onchange="angular.element(this).scope().loadTriggers(this)"/>
</form>

<form name="form5" ng-submit="deleteAlertsTriggers()">
  <h2>Delete Outputs&Alerts</h2>
  <button class="btn btn-primary">Delete Ouputs&Alerts</button>
</form>
  <form name="PasswordChange" action="/change_password">
    <h2>Change password</h2>
    <button class="btn btn-primary">Change password</button>
  </form>
</div>
