<form class="chart-controls form-inline" role="form">
    <div class="btn-group">
        <button type="button" ng-class="{btn: true, 'btn-info': true, active: (zoom == 'M')}" ng-click="changeZoom('M')">Month</button>
        <button type="button" ng-class="{btn: true, 'btn-info': true, active: (zoom == 'D')}" ng-click="changeZoom('D')">Day</button>
        <button type="button" ng-class="{btn: true, 'btn-info': true, active: (zoom == 'H')}" ng-click="changeZoom('H')">Hour</button>
    </div>

    <div class="btn-group">
        <button title="Select date" type="button" class="btn btn-info" id="picker-date"><span class="glyphicon glyphicon-calendar"></span></button>
        <button title="Show recent data" type="button" class="btn btn-info" ng-click="showRecent()"><span class="glyphicon glyphicon-home"></span></button>
    </div>

    <div class="btn-group">
        <button title="Previous" type="button" class="btn btn-info" ng-click="shiftDateUnit(-1)"><span class="glyphicon glyphicon-backward"></span></button>
        <button title="Next" type="button" class="btn btn-info" ng-click="shiftDateUnit(1)" ng-disabled="forwardDisallowed"><span class="glyphicon glyphicon-forward"></span></button>
    </div>

    <span class="selected-date">{{ formattedDate }}</span>
</form>

<div class="sensors-dashboard">
    <div class="sensors-dashboard__item sensors-dashboard__item--air-temp">
        <strong>{{sensorsDashboardValues["Temp1"] !== undefined ? sensorsDashboardValues["Temp1"] + ' °C' : 'Err'}}</strong>
        <span>Air Temperature</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--water-temp">
        <strong>{{sensorsDashboardValues["Temp2"] !== undefined ? sensorsDashboardValues["Temp2"] + ' °C' : 'Err'}}</strong>
        <span>Water Temperature</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--relative-humidity">
        <strong>{{sensorsDashboardValues["Humidity"] !== undefined ? sensorsDashboardValues["Humidity"] + ' %' : 'Err'}}</strong>
        <span>Relative Humidity</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--bulb-temp">
        <strong>{{sensorsDashboardValues["Temp3"] > 0 ? sensorsDashboardValues["Temp3"] + ' °C' : 'Err'}}</strong>
        <span>Bulb Temperature</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--ec-fan">
        <strong>{{sensorsDashboardValues["ECFan"] !== undefined ? sensorsDashboardValues["ECFan"] + ' %' : 'Err'}}</strong>
        <span>EC Fan</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--light-out">
        <strong>{{sensorsDashboardValues["Light1"] !== undefined ? sensorsDashboardValues["Light1"] + ' sun' : 'Err'}}</strong>
        <span>Lighting Outdoor</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--light-in">
        <strong>{{sensorsDashboardValues["Light2"] !== undefined ? sensorsDashboardValues["Light2"] + ' sun' : 'Err'}}</strong>
        <span>Lighting Indoor</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--water-level">
        <strong>{{sensorsDashboardValues["Usnd"] > 0 ? sensorsDashboardValues["Usnd"] + ' cm' : 'Err'}}</strong>
        <span>Water Level Distance</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--ec">
        <strong>{{sensorsDashboardValues["EC"] !== undefined ? sensorsDashboardValues["EC"] + ' %' : 'Err'}}</strong>
        <span>EC</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--ph">
        <strong>{{sensorsDashboardValues["pH"] !== undefined ? sensorsDashboardValues["pH"] : 'Err'}}</strong>
        <span>pH</span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--co2">
        <strong>{{sensorsDashboardValues["CO2"] !== undefined ? sensorsDashboardValues["CO2"] : 'Err'}}</strong>
        <span>CO<sub>2</sub></span>
    </div>

    <div class="sensors-dashboard__item sensors-dashboard__item--battery">
        <strong>{{sensorsDashboardValues["Battery"] !== undefined ? sensorsDashboardValues["Battery"] + ' %': 'Err'}}</strong>
        <span>Battery</span>
    </div>
</div>

<div id="charts"></div>
