<form novalidate class="form-horizontal" ng-class="{loading: loading}" name="form" ng-submit="save()">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="config.use_dhcp" /> DHCP</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="config.enforce_ssl" /> HTTPS</label>
            </div>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">MAC address</label>
        <div class="col-sm-10">
            <input name="mac" type="text" ng-model="config.mac" ng-pattern="/^([0-9a-f]{2}[:]){5}([0-9a-f]{2})$/" class="form-control" disabled/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.mac.$valid">
         Please enter valid MAC address. Small letters only, separated by : . Example: de:ad:be:ef:55:44 .
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">IP address</label>
        <div class="col-sm-10">
            <input name="ip" type="text" ng-model="config.ip" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ip.$valid">
         Please enter valid IP address. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Netmask</label>
        <div class="col-sm-10">
            <input name="netmask" type="text" ng-model="config.netmask" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.netmask.$valid">
         Please enter valid IP address mask. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Gateway</label>
        <div class="col-sm-10">
            <input name="gateway" type="text" ng-model="config.gateway" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.gateway.$valid">
         Please enter valid IP address. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <br>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">NTP server</label>
        <div class="col-sm-10">
            <input name="ntp" type="text" ng-model="config.ntp" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ntp.$valid">
         Please enter valid IP address. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Time zone</label>
        <div class="col-sm-10">
            <!--input name="time_zone" type="text" ng-model="config.time_zone" ng-pattern="/^\d*$/" class="form-control"/-->
            <select name="time_zone" ng-model="config.time_zone" class="form-control">
                <option value="-12">GMT -12:00</option>
                <option value="-11">GMT -11:00</option>
                <option value="-10">GMT -10:00</option>
                <option value="-9">GMT -9:00</option>
                <option value="-8">GMT -8:00</option>
                <option value="-7">GMT -7:00</option>
                <option value="-6">GMT -6:00</option>
                <option value="-5">GMT -5:00</option>
                <option value="-4">GMT -4:00</option>
                <option value="-3">GMT -3:00</option>
                <option value="-2">GMT -2:00</option>
                <option value="-1">GMT -1:00</option>
                <option value="0">GMT</option>
                <option value="1">GMT +1:00</option>
                <option value="2">GMT +2:00</option>
                <option value="3">GMT +3:00</option>
                <option value="4">GMT +4:00</option>
                <option value="5">GMT +5:00</option>
                <option value="6">GMT +6:00</option>
                <option value="7">GMT +7:00</option>
                <option value="8">GMT +8:00</option>
                <option value="9">GMT +9:00</option>
                <option value="10">GMT +10:00</option>
                <option value="11">GMT +11:00</option>
                <option value="12">GMT +12:00</option>
            </select>
        </div>
    </div>

    <br>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">SMTP server</label>
        <div class="col-sm-10">
            <input name="smtp" type="text" ng-model="config.smtp" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.smtp.$valid">
         Please enter valid IP address. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">SMTP port</label>
        <div class="col-sm-10">
            <input name="smtpPort" type="text" ng-model="config.smtp_port" ng-pattern="/^((((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])|([1-9][0-9][0-9][0-9])|([1-6][0-5][0-5][0-3][0-5])))))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.smtpPort.$valid">
         Please enter valid port number. From 1 to 65535.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">System name</label>
        <div class="col-sm-10">
            <input name="systemName" type="text" ng-model="config.sys_name" ng-pattern="/^[a-zA-Z0-9]{0,16}$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.systemName.$valid">
         Only numbers and letters allowed, max 16 characters.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">E-mail from</label>
        <div class="col-sm-10">
            <input name="mail_from" type="text" ng-model="config.mail_from" ng-pattern="/^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.mail_from.$valid">
         Please enter valid email address.
        </span>
    </div>
    <br>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Wifi SSID</label>
        <div class="col-sm-6">
            <input name="wifi_ssid" type="text" ng-model="config.wifi_ssid" class="form-control"/>
        </div>
        <div class="col-sm-2">
            <div class="btn btn-primary" ng-click="scan_for_wifis()">
                Scan for wifis
            </div>
        </div>
        <div class="col-sm-2">
            <div name="wifi_connected" class="btn label-success" ng-show="wifi_connected">
                Connected
            </div>
            <div name="wifi_not_connected" class="btn label-default" ng-show="!wifi_connected">
                Not connected
            </div>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Wifi password</label>
        <div class="col-sm-10">
            <input name="wifi_pwd" type="password" ng-model="config.wifi_pwd" ng-pattern="/^[!-~]{0,63}$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.wifi_pwd.$valid">
          Please enter valid password.
        </span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-hide="saving">Save</button>
            <button type="button" class="btn btn-disabled" ng-hide="!saving">Saving...</button>
            <span class="text-success" ng-show="saveSuccess" >Successfully saved.</span>
        </div>
    </div>
</div>
</form>
<div id="scan_for_wifi_window" class="modal-window" ng-show="show_wifi_window">
    <div class="modal-content">
        <span class="close" ng-click="close_wifi_window()">&times;</span>
        <table class="table modal-table">
            <tbody>
                <tr>
                    <th>Quality</th>
                    <th>SSID</th>
                    <th>Frequency</th>
                    <th>Channel</th>
                    <th>Encrypted</th>
                <tr>
                  <tr ng-repeat-start="item in known_wifis" ng-click="select_wifi_in_modal(item, $index)" class="shadable" ng-class="{shaded: $index==selected_index_in_modal}">
                    <td>{{item.quality}}</td>
                    <td>{{item.ssid}}</td>
                    <td>{{item.frequency}}</td>
                    <td>{{item.channel}}</td>
                    <td ng-if="item.encrypted">Yes</td>
                    <td ng-if="! item.encrypted">No</td>
                </tr>
                <tr ng-repeat-end ng-if="item.encrypted" class="pwd_input_in_table" ng-show="$index==selected_index_in_modal">
                    <td colspan=5>
                        <form novalidate class="form-horizontal" ng-submit="select_wifi_in_controller(item)">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input class="form-control" type="text" ng-model="model.entered_password"/>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
