<form novalidate class="form-horizontal" ng-class="{loading: loading}" name="form" ng-submit="save()">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="config.use_dhcp" /> DHCP</label>
            </div>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">MAC address</label>
        <div class="col-sm-10">
            <input name="mac" type="text" ng-model="config.mac" ng-pattern="/^([0-9a-f]{2}[:]){5}([0-9a-f]{2})$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.mac.$valid">
         Please enter valid MAC address. Small letters only, separated by : . Example: de:ad:be:ef:55:44 .
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">IP address</label>
        <div class="col-sm-10">
            <input name="ip" type="text" ng-model="config.ip" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ip.$valid">
         Please enter valid IP address. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Netmask</label>
        <div class="col-sm-10">
            <input name="netmask" type="text" ng-model="config.netmask" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.netmask.$valid">
         Please enter valid IP address mask. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Gateway</label>
        <div class="col-sm-10">
            <input name="gateway" type="text" ng-model="config.gateway" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.gateway.$valid">
         Please enter valid IP address. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <br>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">NTP server</label>
        <div class="col-sm-10">
            <input name="ntp" type="text" ng-model="config.ntp" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ntp.$valid">
         Please enter valid IP address. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Time zone</label>
        <div class="col-sm-10">
            <!--input name="time_zone" type="text" ng-model="config.time_zone" ng-pattern="/^\d*$/" class="form-control"/-->
            <select name="time_zone" ng-model="config.time_zone" class="form-control">
                <option value="-12">GMT -12:00</option>
                <option value="-11">GMT -11:00</option>
                <option value="-10">GMT -10:00</option>
                <option value="-9">GMT -9:00</option>
                <option value="-8">GMT -8:00</option>
                <option value="-7">GMT -7:00</option>
                <option value="-6">GMT -6:00</option>
                <option value="-5">GMT -5:00</option>
                <option value="-4">GMT -4:00</option>
                <option value="-3">GMT -3:00</option>
                <option value="-2">GMT -2:00</option>
                <option value="-1">GMT -1:00</option>
                <option value="0">GMT</option>
                <option value="1">GMT +1:00</option>
                <option value="2">GMT +2:00</option>
                <option value="3">GMT +3:00</option>
                <option value="4">GMT +4:00</option>
                <option value="5">GMT +5:00</option>
                <option value="6">GMT +6:00</option>
                <option value="7">GMT +7:00</option>
                <option value="8">GMT +8:00</option>
                <option value="9">GMT +9:00</option>
                <option value="10">GMT +10:00</option>
                <option value="11">GMT +11:00</option>
                <option value="12">GMT +12:00</option>
            </select>
        </div>
    </div>

    <br>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">SMTP server</label>
        <div class="col-sm-10">
            <input name="smtp" type="text" ng-model="config.smtp" ng-pattern="/^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.smtp.$valid">
         Please enter valid IP address. From 0.0.0.0 to 255.255.255.255.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">SMTP port</label>
        <div class="col-sm-10">
            <input name="smtpPort" type="text" ng-model="config.smtp_port" ng-pattern="/^((((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])|([1-9][0-9][0-9][0-9])|([1-6][0-5][0-5][0-3][0-5])))))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.smtpPort.$valid">
         Please enter valid port number. From 1 to 65535.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">System name</label>
        <div class="col-sm-10">
            <input name="systemName" type="text" ng-model="config.sys_name" ng-pattern="/^[a-zA-Z0-9]{0,16}$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.systemName.$valid">
         Only numbers and letters allowed, max 16 characters.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">E-mail from</label>
        <div class="col-sm-10">
            <input name="mail_from" type="text" ng-model="config.mail_from" ng-pattern="/^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.mail_from.$valid">
         Please enter valid email address.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">CO2 PPM 400</label>
        <div class="col-sm-10">
            <input name="co2_400" type="text" ng-model="config.co2_400" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.co2_400.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">CO2 PPM 40k</label>
        <div class="col-sm-10">
            <input name="CO2_40k" type="text" ng-model="config.co2_40k" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.CO2_40k.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">pH 4.00 @20&#176C</label>
        <div class="col-sm-10">
            <input name="ph_4" type="text" ng-model="config.ph_4" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ph_4.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">pH 7.03 @20&#176C</label>
        <div class="col-sm-10">
            <input name="ph_7" type="text" ng-model="config.ph_7" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ph_7.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">EC 1.278 @20&#176C</label>
        <div class="col-sm-10">
            <input name="ec_low_ion" type="text" ng-model="config.ec_low_ion" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ec_low_ion.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">EC 4.523 @20&#176C</label>
        <div class="col-sm-10">
            <input name="ec_high_ion" type="text" ng-model="config.ec_high_ion" ng-pattern="/^((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ec_high_ion.$valid">
         Only positive number allowed, no decimals, max 3 digits.
        </span>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">EC Offset</label>
        <div class="col-sm-10">
            <input name="ec_offset" type="text" ng-model="config.ec_offset" ng-pattern="/^-?((([1-9])|([1-9][0-9])|([1-9][0-9][0-9])|0))$/" class="form-control"/>
        </div>
        <span style="color:#B40404" class="help-block" ng-show="!form.ec_offset.$valid">
         Positive or negative number or zero allowed, no decimals, max 3 digits.
        </span>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" ng-hide="saving">Save</button>
            <button type="button" class="btn btn-disabled" ng-hide="!saving">Saving...</button>
            <span class="text-success" ng-show="saveSuccess" >Successfully saved.</span>
        </div>
    </div>
</div>
</form>