<form novalidate class="form-horizontal" ng-class="{loading: loading}" name="form" ng-submit="config.$save()">
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox" ng-model="config.use_dhcp" /> DHCP</label>
            </div>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">MAC address</label>
        <div class="col-sm-10">
            <input name="mac" type="text" ng-model="config.mac" ng-pattern="/^([0-9a-f]{1,2}[\.:-]){5}([0-9a-f]{1,2})$/i" class="form-control"/>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">IP address</label>
        <div class="col-sm-10">
            <input name="ip" type="text" ng-model="config.ip" ng-pattern="/^(\d{1,3}\.){3}\d{1,3}$/" class="form-control"/>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Netmask</label>
        <div class="col-sm-10">
            <input name="netmask" type="text" ng-model="config.netmask" ng-pattern="/^(\d{1,3}\.){3}\d{1,3}$/" class="form-control"/>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Gateway</label>
        <div class="col-sm-10">
            <input name="gateway" type="text" ng-model="config.gateway" ng-pattern="/^(\d{1,3}\.){3}\d{1,3}$/" class="form-control"/>
        </div>
    </div>
    <br>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">NTP server</label>
        <div class="col-sm-10">
            <input name="ntp" type="text" ng-model="config.ntp" class="form-control"/>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">Time zone</label>
        <div class="col-sm-10">
            <input name="time_zone" type="text" ng-model="config.time_zone" ng-pattern="/^\d*$/" class="form-control"/>
        </div>
    </div>

    <br>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">SMTP server</label>
        <div class="col-sm-10">
            <input name="smtp" type="text" ng-model="config.smtp" class="form-control"/>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">SMTP port</label>
        <div class="col-sm-10">
            <input name="smtp" type="text" ng-model="config.smtp_port" ng-pattern="/^\d*$/" class="form-control"/>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">System name</label>
        <div class="col-sm-10">
            <input name="smtp" type="text" ng-model="config.sys_name" class="form-control"/>
        </div>
    </div>
    <div class="form-group" bs-has-error>
        <label class="col-sm-2 control-label">E-mail from</label>
        <div class="col-sm-10">
            <input name="mail_from" type="text" ng-model="config.mail_from" ng-pattern="/^\S+@\S+\.\S+$/" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>