<div ng-include="'partials/loadingProgress.html'"></div>

<form novalidate class="form-inline triggers-form" ng-class="{saving: saving}" ng-hide="loading" name="form" ng-submit="saveTriggers()">

<div class="row relay" ng-repeat="relay in relays">
    <div class="col-sm-3 relay-header">
        <div class="name">{{relay.name}}</div>
        <div class="number">relay {{$index}}</div>
        <div class="btn-group btn-group-xs">
            <button type="button" class="btn btn-default" ng-class="{active: relay.manualOn}" ng-click="relayManualOn(relay)">On</button>
            <button type="button" class="btn btn-default" ng-class="{active: relay.off}" ng-click="relayTurnOff(relay)">Off</button>
            <button type="button" class="btn btn-default" ng-class="{active: !relay.manualOn && !relay.off}" ng-click="relayAuto(relay)">Auto</button>
        </div>

        <!--button type="button" class="btn btn-info btn-xs" ng-click="relayManualOn(relay)">
            <span ng-hide="relay.manualOn">Manual On</span>
            <span ng-hide="!relay.manualOn">Stop</span>
        </button>
        <button type="button" class="btn btn-info btn-xs" ng-click="relayTurnOff(relay)">
            <span ng-hide="relay.off">Disable</span>
            <span ng-hide="!relay.off">Enable</span>
        </button-->
    </div>
    <div class="col-sm-9 relay-body">
        <div ng-show="relay.manualOn && !relay.manualOnSaved" class="alert alert-warning">
            <b>Save</b> triggers to turn on permanently!
        </div>
        <div ng-show="relay.manualOn && relay.manualOnSaved" class="alert alert-success">
            Relay is permanently turned on.
        </div>
        <div ng-show="relay.off && !relay.offSaved" class="alert alert-warning">
            <b>Save</b> triggers to disable permanently!
        </div>
        <div ng-show="relay.off && relay.offSaved" class="alert alert-info">
            Relay is permanently disabled.
        </div>
        <div ng-show="!relay.manualOn && !relay.off && (relay.manualOnSaved || relay.offSaved)" class="alert alert-warning">
            <b>Save</b> triggers to enable!
        </div>

        <div class="form-group" ng-hide="relay.off || relay.manualOn">
            <div ng-if="relay.partial" ng-include="'partials/triggers/'+relay.partial"></div>
            <div class="timer-line" ng-repeat="range in relay.intervals">
                <fieldset ng-disabled="!range.active">
                    Turn on from
                    <div class="form-group" bs-has-error>
                        <input type="text" class="form-control" ng-model="range.since"  ng-pattern="/^\d{1,2}:\d{2}$/"/>
                    </div>
                    to
                    <div class="form-group" bs-has-error>
                        <input type="text" class="form-control" ng-model="range.until" ng-pattern="/^\d{1,2}:\d{2}$/"/>
                    </div>
                    <a ng-click="toggleInterval(relay, $index)">
                        <span class="glyphicon" ng-class="{'glyphicon-remove': range.active, 'glyphicon-arrow-left': !range.active}"></span>
                    </a>
                </fieldset>
            </div>
            <a ng-click="addInterval(relay)"><span class="glyphicon glyphicon-plus"></span> add interval</a>
        </div>
    </div>
</div>

<div class="row relay-save">
    <div class="col-sm-offset-3 col-sm-9 form-group">
        <button type="submit" class="btn btn-primary" ng-hide="saving">Save</button>
        <button type="button" class="btn btn-disabled" ng-hide="!saving">Saving...</button>
        <span class="text-success" ng-show="saveSuccess" >Successfully saved.</span>
    </div>
</div>

</form>