<form novalidate ng-class="{'form-inline': true, 'triggers-form': true, saving: saving}"  name="form" ng-submit="saveTriggers()">

<div class="panel panel-default" ng-repeat="timer in timers">
  <div class="panel-heading"><b>Timer {{$index + 1}}</b></div>
  <div class="panel-body" ng-controller="TimerController">
        <div class="form-group timer-line" ng-repeat="range in timer">
            from
            <input type="text" class="form-control" ng-model="range.since" />
            to
            <input type="text" class="form-control" ng-model="range.until"/>
            <a ng-click="removeRange($index)"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div class="form-group timer-line">
            <a ng-click="addRange()"><span class="glyphicon glyphicon-plus"></span> add</a>
        </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><b>Sentinels</b></div>
  <div class="panel-body">
    <div class="form-group sentinel-line" ng-repeat="range in rangeSentinels">
        <fieldset ng-disabled="!range.active">
            Keep <b>{{ range.name }}</b> between
            <input type="text" class="form-control" ng-model="range.from" />&nbsp;{{ range.unit }}
            and
            <input type="text" class="form-control" ng-model="range.to" />&nbsp;{{ range.unit }}
            <a ng-click="toggleSentinel(range)">
                <span ng-class="{glyphicon: true, 'glyphicon-ban-circle': range.active, 'glyphicon-ok-circle': !range.active}"></span>
            </a>
        </fieldset>
    </div>
    <fieldset class="form-group sentinel-line" ng-disabled="!fan.active">
            Enable <b>fan</b> every
            <input type="text" class="form-control" ng-model="fan.after"/> minutes
            of inactivity for
            <input type="text" class="form-control" ng-model="fan.duration"/> minutes.

            <a ng-click="toggleSentinel(fan)">
                <span ng-class="{glyphicon: true, 'glyphicon-ban-circle': fan.active, 'glyphicon-ok-circle': !fan.active}"></span>
            </a>
    </fieldset>
  </div>
</div>

<div class="form-group">
    <button type="submit" class="btn btn-primary" ng-hide="saving">Save</button>
    <button type="button" class="btn btn-disabled" ng-hide="!saving">Saving...</button>
</div>

</form>
