<fieldset class="form-group sentinel-line" ng-disabled="!relay.triggers.temp1Low.active">
    Turn on when <b>Temperature</b> is below
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="relay.triggers.temp1Low.on.val" />&nbsp;°C
    </div> then keep it on till
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="relay.triggers.temp1Low.off.val" ng-pattern="/^\d+(.\d)?$/" />&nbsp;°C
    </div> is reached.
    <a ng-click="toggleTrigger(relay.triggers.temp1Low)">
        <span class="glyphicon" ng-class="{'glyphicon-ban-circle': relay.triggers.temp1Low.active, 'glyphicon-ok-circle': !relay.triggers.temp1Low.active}"></span>
    </a>
</fieldset>