<fieldset class="form-group sentinel-line" ng-disabled="!relay.triggers.humidityLow.active">
    Turn on when  <b>Humidity</b> is bellow
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="relay.triggers.humidityLow.on" ng-pattern="/^\d+(.\d)?$/"/>&nbsp;%
    </div> then keep it on till
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="relay.triggers.humidityLow.off" ng-pattern="/^\d+(.\d)?$/"/>&nbsp;%
    </div>
    is reached.

    <a ng-click="toggleTrigger(relay.triggers.humidityLow)">
        <span class="glyphicon", ng-class="{'glyphicon-ban-circle': relay.triggers.humidityLow.active, 'glyphicon-ok-circle': !relay.triggers.humidityLow.active}"></span>
    </a>
</fieldset>