<fieldset class="form-group sentinel-line" ng-disabled="!relay.triggers.usndHigh.active">
    Turn on when  <b>Usnd distance</b> is greater than
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="relay.triggers.usndHigh.on.val" ng-pattern="/^\d+(.\d)?$/"/>&nbsp;cm
    </div> then keep it on till
    <div class="form-group" bs-has-error>
        <input type="text" class="form-control" ng-model="relay.triggers.usndHigh.off.val" ng-pattern="/^\d+(.\d)?$/"/>&nbsp;cm
    </div>
    is reached.

    <a ng-click="toggleTrigger(relay.triggers.usndHigh)">
        <span class="glyphicon", ng-class="{'glyphicon-ban-circle': relay.triggers.humidityHigh.active, 'glyphicon-ok-circle': !relay.triggers.usndHigh.active}"></span>
    </a>
</fieldset>