a[ng-click] {
    cursor: pointer;
}

.nav {
    margin: 10px 0 20px 0;
}

.loading {
    background: url('../images/loading.gif') center center no-repeat;
}

.loading > * {
    visibility: hidden;
}

.relay-panel {
    margin-bottom: 40px;
}

.chart-controls .btn-group {
    margin-right: 8px;
    display: inline-block;
}

.triggers-form.saving .panel {
    opacity: 0.4;
}

.triggers-form .form-control {
    width: 70px;
}

.triggers-form .timer-line, .triggers-form .sentinel-line {
    display: block;
    margin-bottom: 4px;
}

.timer-line fieldset[disabled] .form-control {
    text-decoration: line-through;
}

.sentinel-line[disabled] {
    color: gray;
}

.progress-title {
    display: block;
    margin-bottom: 5px;
}