
.nav {
    margin: 10px 0 20px 0;
}

.loading {
    background: url('../images/loading.gif') center center no-repeat;
}

.loading > * {
    visibility: hidden;
}

.relay-panel {
    margin-bottom: 40px;
}

.chart-controls .btn-group {
    margin-right: 8px;
    display: inline-block;
}
