a[ng-click] {
    cursor: pointer;
}

.nav {
    margin-top: 10px;
}

.page-content {
    padding-top: 10px;
}

.relays {
    margin-top: 10px;
    height: 30px;
}

.relay-history {
    margin-top: 20px;
}

.relay-history .label {
    opacity: 1;
}

.relay-history h5 {
    font-style: italic;
}

.relay-history ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.loading {
    background: url('../images/loading.gif') center center no-repeat;
}

.loading > * {
    visibility: hidden;
}

/* Charts */

.chart-controls {
    margin-bottom: 5px;
}

.chart-controls .btn-group {
    margin-right: 8px;
    display: inline-block;
}

.chart {
    height: 290px;
}

/* Triggers */

.progress-title {
    display: block;
    margin-bottom: 5px;
}


.triggers-form.saving .panel {
    opacity: 0.4;
}

.triggers-form .form-control {
    width: 70px;
}

.triggers-form .timer-line, .triggers-form .sentinel-line {
    display: block;
    margin-bottom: 4px;
}

.timer-line fieldset[disabled] .form-control {
    text-decoration: line-through;
}

.sentinel-line[disabled] {
    color: gray;
}

.row.relay {
    margin-top: 20px;
}

.relay-header {
    text-align: right;
    padding: 2px 20px 2px 0;
}

.relay-body {
    border-left: 1px solid gray;
    min-height: 95px;
}

.relay-header .name {
    font-size: 24px;
    /*font-weight: bold;*/
    text-transform: uppercase;
}

.relay-header .number {
    font-style: italic;
    margin-bottom: 5px;
}

.relay-save {
    margin-top: 20px;
}

.relay-save .text-success {
    padding-left: 20px;
}
