a[ng-click] {
    cursor: pointer;
}

.nav {
    margin-top: 10px;
}

.nav li a {
    text-align: center;
    padding: 10px 0;
}

.page-content {
    padding-top: 10px;
}

.modal-window {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% 15% 15% 30%;
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-table .shadable:hover,
.modal-table .shadable.shaded {
    background: grey;
}

.relays {
    margin-top: 10px;
    height: 30px;
}

.relay-history {
    margin-top: 20px;
}

.relay-history .label {
    opacity: 1;
}

.relays h5,
.relay-history h5 {
    font-style: italic;
}

.relay-history ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.relay-history-day {
    margin-bottom: 10px;
}

.relay-history-day ul {
    margin-top: 4px;
}

.loading {
    background: url('/images/loading.gif') center center no-repeat; /*-- z lokalu, nefungovalo na starym Arduinu*/
}

.loading > * {
    visibility: hidden;
}

/* Charts */

.chart-controls {
    margin-bottom: 5px;
}

.chart-controls .btn-group {
    margin-right: 8px;
    display: inline-block;
}

.chart {
    height: 290px;
}

/* Triggers */

.progress-title {
    display: block;
    margin-bottom: 5px;
}


.triggers-form.saving .panel {
    opacity: 0.4;
}

.triggers-form .form-control {
    width: 65px;
}

.maintenance-form .form-control,
.triggers-form .form-control.alert-target {
    width: 200px;
}

.triggers-form .form-control.alert-message {
    width: 250px;
}

.triggers-form .timer-line, .triggers-form .sentinel-line {
    display: block;
    margin-bottom: 4px;
}

.triggers-form.alerts {
    padding-top: 20px;
}

.triggers-form.alerts fieldset {
    margin-bottom: 10px;
}

.timer-line fieldset[disabled] .form-control {
    text-decoration: line-through;
}

.sentinel-line {
    margin-top: 12px;
}

.sentinel-line[disabled] {
    color: gray;
}

.row.relay {
    margin-top: 20px;
}

.relay-header {
    text-align: right;
    padding: 2px 20px 2px 0;
}

.relay-body {
    border-left: 1px solid gray;
    min-height: 95px;
}

.relay-header .name {
    font-size: 24px;
    /*font-weight: bold;*/
    text-transform: uppercase;
}

.relay-header .number {
    font-style: italic;
    margin-bottom: 5px;
}

.relay-save {
    margin-top: 20px;
}

.relay-save .text-success {
    padding-left: 20px;
}

.fanDayNightLabel {
    font-size: 18px;
    padding-top: 8px;
}

.formError {
    color: red;
    font-weight: bold;
}

.calibration-control {
    width: initial;
    display: inline-block;
}

.calibration-display-form .form-control {
    width: 67px;
    display: inline-block;
}

.calibration-display-form .control-label-top {
    width: 67px;
    text-align: center;
}

.calibration-display-form .control-label-left {
    width: 117px;
    height: 34px;
    text-align: center;
    vertical-align: middle;
}

.calibration-popup-control {
    width: 120px;
    display: inline;
}
