<!DOCTYPE html>
<html lang="en" prefix="ng: http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Loading…</title>

    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
    <!--link rel="icon" type="image/ico" href="http://growduino.cz/002_nemazat/favicon.ico" /-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- build:css css/minified.css -->
    <link rel="stylesheet" href="libs/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="css/base.css">
    <!-- endbuild -->

    <script src="/bower_components/yepnope/yepnope.js"></script>
    <script>var DIST = false;</script>
    <script src="js/yepnope.load.js"></script>
</head>
<body>
    <div id="app-loading" style="margin: 40px; text-align: center">
        Loading application Growduino, please wait…
        <div id="bootstrap-css-check" class="hidden"></div>
    </div>
    <div class="container" style="display: none">
        <div class="row">
            <div class="col-xs-2">
                <ul class="nav nav-pills nav-stacked" ng-controller="NavigationController">
                    <li ng-class="{ active: isActive('/')}"><a href="#">Sensors</a></li>
                    <li ng-class="{ active: isActive('/triggers')}"><a href="#/triggers">Outputs</a></li>
                    <li ng-class="{ active: isActive('/alerts')}"><a href="#/alerts">Alerts</a></li>
                    <li ng-class="{ active: isActive('/settings')}"><a href="#/settings">Settings</a></li>
                    <li ng-class="{ active: isActive('/calibration')}"><a href="#/calibration">Calibration</a></li>
                    <li ng-class="{ active: isActive('/maintenance')}"><a href="#/maintenance">Maintenance</a></li>
                    <li ng-class="{ active: isActive('/growroom')}"><a href="#/growroom">GrowRoom</a></li>
                </ul>

                <div class="relays" ng-controller="RelayDataController">
		    <h5>Current relays state</h5>
		    <span class="label label-success">On</span>
		    <span class="label label-default">Off</span>
		    <br><br>
                    <span ng-repeat="relay in relays">
                      <span ng-class="{label: true, 'label-default': !relay.state, 'label-success': relay.state }">{{ relay.name }}</span>
                    </span>

                    <div class="relay-history">
                        <h5>Relay state history</h5>
                        <ul ng-show="!loadingHistory">
                            <li class="relay-history-day" ng-repeat="day in history">{{ day.when.format('Do MMMM') }}
                                <ul>
                                    <li ng-show="item.show" ng-repeat="item in day.items">
                                        {{ item.whenOffset.format('HH:mm') }}
                                        <span ng-repeat="relay in item.relays">
                                            <span ng-class="{label: true, 'label-default': !relay.on, 'label-success': relay.on }">{{ relay.name }}</span>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
			<div ng-show="loadingHistory">
				Loading
			</div>
                    </div>
		    <div class="relay-history" ng-show="showMonthMessage">
		        <h5>Switch to Day/Hour mode to display Relays History</h5>
		    </div>
                </div>
            </div>
            <div class="col-xs-10 page-content">
                <div ng-view></div>
            </div>
        </div>
    </div>
</body>
</html>
