<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>growduino</title>

    <!--link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css"-->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- build:css css/minified.css -->
    <link rel="stylesheet" href="libs/bootstrap-datetimepicker/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="css/base.css">
    <!-- endbuild -->

    <script src="/bower/requirejs/require.js"></script>
    <script>
        require.config({
            //urlArgs: "ts="+new Date().getTime(), // disable caching - remove in production
            baseUrl: '/js',
            paths: {
                jquery: [
                    "//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min",
                    "/bower/jquery/dist/jquery.min"
                ],
                angular: [
                    "//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min",
                    "/bower/angular/angular.min"
                ],
                angular_resource: [
                    "//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min",
                    "/bower/angular-resource/angular-resource.min"
                ],
                angular_route: [
                    "//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min",
                    "/bower/angular-route/angular-route.min"
                ],
                bootstrap: [
                    "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min",
                    "/bower/bootstrap/dist/js/bootstrap.min"
                ],
                highcharts: [
                    "//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.9/highcharts",
                    "/bower/highcharts.com/js/highcharts.src"
                ],
                moment: [
                    "//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min",
                    "/bower/moment/min/moment.min"
                ],
                bootstrap_datetimepicker: '/libs/bootstrap-datetimepicker/bootstrap-datetimepicker',
                bootstrap_datetimepicker_cs: '/libs/bootstrap-datetimepicker/bootstrap-datetimepicker.cs',
                async: '/libs/async'
            },
            shim: {
                'angular': ['jquery'],
                'angular_resource': ['angular'],
                'angular_route': ['angular'],
                'highcharts': ['jquery'],
                'bootstrap': ['jquery'],
                'bootstrap_datetimepicker': ['bootstrap'],
                'bootstrap_datetimepicker_cs': ['bootstrap_datetimepicker']
            }
        });
        require([
            "app",
            "services/resources",
            "services/Trigger",
            "controllers/NavigationController",
            "controllers/ChartController",
            "controllers/NetworkConfigController",
            "controllers/RelayController",
            "controllers/TriggersController",
            "directives/bsHasError",
        ], function() {
            $(function() {
                angular.bootstrap(document, ['growduino']);
            });
        });
    </script>
</head>
<body>
    <!--h1><div class="container">growduino client</div></h1-->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked" ng-controller="NavigationController">
                    <li ng-class="{ active: isActive('/')}"><a href="#">Sensors</a></li>
                    <li ng-class="{ active: isActive('/triggers')}"><a href="#/triggers">Outputs</a></li>
                    <li ng-class="{ active: isActive('/network')}"><a href="#/network">Network</a></li>
                </ul>

                <div class="relays" ng-controller="RelayController">
                    <span ng-repeat="relay in relays">
                      <span ng-class="{label: true, 'label-default': !relay.state, 'label-success': relay.state }">{{ relay.name }}</span>
                    </span>

                    <div class="relay-history" ng-show="loaded">
                        <h5>Relay state history</h5>
                        <ul>
                            <li ng-repeat="item in history">{{ item.when.format('HH:mm') }}
                                <span ng-repeat="relay in item.relays">
                                    <span ng-class="{label: true, 'label-default': !relay.on, 'label-success': relay.on }">{{ relay.name }}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 page-content">
                <div ng-view></div>
            </div>
        </div>
    </div>
</body>
</html>